<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:component-scan base-package="com.wuwind.dao.impl"/>
    <context:component-scan base-package="com.wuwind.service.impl"/>
    <context:component-scan base-package="com.wuwind.controller"/>
    <mvc:annotation-driven/>

<!--    <mvc:resources location="/WEB-INF/page/css/" mapping="/css/**" />-->
<!--    <mvc:resources location="/WEB-INF/page/js/" mapping="/js/**" />-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <property name="defaultEncoding" value="utf-8"/>
            <property name="maxUploadSize" value="104857600"/>
            <property name="maxInMemorySize" value="4096"/>
        </bean>-->


    <!--mysql-->
<!--    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
<!--         <property name="locations">-->
<!--             <list>-->
<!--                 <value>classpath:db-config.properties</value>-->
<!--             </list>-->
<!--         </property>-->
<!--     </bean>-->

    <context:property-placeholder location="classpath:db-config.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${db.dirverClass}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!-- 配置事物管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 开启注解驱动 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>


<!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
<!--    <constructor-arg ref="dataSource" />-->
<!--    </bean>-->

    <mvc:interceptors>
        <bean class="com.wuwind.interceptor.LoginInterceptor"/>
    </mvc:interceptors>
    <bean class="com.wuwind.interceptor.ResponseInterceptor"/>
    <mvc:interceptors>
        <bean class="com.wuwind.interceptor.LogInterceptor"/>
    </mvc:interceptors>
    <mvc:default-servlet-handler/>
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>-->

    <!--<mvc:resources mapping="/js/" location="/js/**"/>-->
<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--        <property name="maxUploadSize" value="5000"/>-->
<!--    </bean>-->

    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">redirect:/error.jsp</prop>
            </props>
        </property>
    </bean>

</beans>